@import '../../styles/varible';

.image-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 500px;
}

.image-detail__list {
    display: grid;
    gap: 10px;
    height: 100%;
    width: 100%;
}


.image-detail__list-1 {
    grid-template-areas: 'i-1';
}

.image-detail__list-2 {
     grid-template-areas: 'i-1 i-2';
}
.image-detail__list-3 {
     grid-template-areas: 'i-1 i-2 i-3';
}
.image-detail__list-4 {
     grid-template-areas: 'i-1 i-2 i-3 '
                          'i-1 i-2 i-4';
}

.image-detail__list-5 {
         grid-template-areas: 'i-1 i-1 i-2 i-2 i-3 i-3 '
                              'i-1 i-1 i-2 i-2 i-4 i-5';
}

.image-detail__contain {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
     }
}

.image-detail__contain::before {
    content: '';
    height: 100%;
    width: 100%;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 1;
    position: absolute;
    background-color: #0000005f;
    transform: translate(-50%,-50%);
}


.image-detail__contain:hover::before{
    display: block;
}



.image-detail__button-show-more {
    display: flex;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #00000084;
    color: $primary-color !important;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer !important;
    z-index: 1;
    &:hover {
        transform: scale(1.1);
    }
}

.image-detail__show-more {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #0000005f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.image-detail__show-more-count {
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
}