@import '../../styles/base';
@import '../../styles/function';
@import '../../styles/varible';

.near-you-containter {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    flex: 1;
    padding: 20px 0;
    user-select:  none;
}

.near-you-containter__col-left {
    padding:  0 !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.near-you-containter__col-right {
    margin-left: 30px;
    flex: 1;
}

.near-you-list-place {
    width: 100%;
    height: auto !important;
}

.near-you-list-place__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.near-you-paging {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px;
}

.near-you-result-container__number {
 display: flex;
 align-items: center;
 gap: 20px;
 font-size: 18px;
}

.near-you-result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.number-result {
    font-weight: bold !important;
    font-size: 25px;
}

.near-you-result-container__select {
    display: flex;
    align-items: center;
    gap: 20px;
}

.near-you-result-container__select-button {
    background-color:  $primary-color;
    color: $primary-color-text;
    border: $secondary-color solid 1px !important;
    width: 150px !important;
    &:active,&:hover,&.show {
        background-color: $secondary-color !important; 
    }
}

.dropdown-item.active, .dropdown-item:active {
    background-color:  $secondary-color !important;
    color: $primary-color !important;
}